

.s-nav-vertical {
  list-style: none;
  margin: 1em 0 1em 0;
  padding: 0;
}

.s-nav-item {
}

.s-nav-item > a {
  display: block;
  padding: 1em 2em;
}

.s-layout-2col {
  display: flex;
  width: 100%;
}
